/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
 
.container {
  background-image:
    linear-gradient(to right, #99e428de, #a7f334a2),
    url('../../assets/images/background.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleMottoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}

.title {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-stretch: expanded;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
  animation: title 2s ease-in-out;
}

@keyframes title {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.motto {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
  animation: motto 2s ease-in-out;
}

@keyframes motto {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.loginBtn,
.signupBtn {
  padding: 0.5rem 3.5rem;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.loginBtn {
  margin-right: 1rem;
  background: #ca9100;
  outline: 1px solid #fff;
}

.signupBtn {
  margin-left: 1rem;
  background: transparent;
  outline: 2px solid #ca9100;
}

.loginBtn:hover {
  background: transparent;
  outline: 2px solid #ca9100;
}

.signupBtn:hover {
  background: #ca9100;
  outline: 1px solid #fff;
}

@media (max-width: 768px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
  }

  .loginBtn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.25rem;
  }

  .signupBtn {
    width: 100%;
    margin-left: 0;
    margin-top: 0.25rem;
  }
}
