.mainWrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.doctorsContainer {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 2rem;
  margin-bottom: 3rem
}

.header h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.header p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

.docSlideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.docName {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
}

.ulList {
  display: flex;
  margin-top: 0.5rem;
}

.icons {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  font-size: 1.2rem;
  color: #777;
}

.image {
  max-width: 100%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #84cc1f;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #84cc1f;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
